{{RETURN_TYPE}} {{CLASS_NAME}}::{{METHOD_NAME}}({{PARAMETERS}}){{#IF IS_CONST}} const{{/IF}}{{#IF IS_NOEXCEPT}} noexcept{{/IF}} {
    {{#IF DESCRIPTION}}
    // {{DESCRIPTION}}
    {{/IF}}
    
    // TODO: Implement {{METHOD_NAME}}
    {{#IF HAS_RETURN}}
    // Return default value for now
    return {};
    {{/IF}}
}
